<footer data-sm="column gap" data-lg="3column noGap">
	<footer-copyright data-sm="2column gap center" data-lg="left">
		<litenode-logo>
			<img src="/static/images/litenode-dark-transparent-logo.avif" alt="LiteNode dark transparent logo" />
		</litenode-logo>

		<p>
			Built with ❤️ by
			<a href="https://lebcit.github.io/">LebCit</a>
			<br />
			Code licensed MIT
		</p>
	</footer-copyright>

	<hr data-sm="center" data-lg="hide" />

	<footer-credits data-sm="center">
		<p>
			Tutorial proudly created with:
			<credits-links data-sm="column">
				<a href="https://www.npmjs.com/package/litenode" data-sm="left">LiteNode</a>

				<a href="https://responsive-attributes-generator.pages.dev/" data-sm="left">Responsive Attributes</a>

				<a href="https://www.colorsandfonts.com/atlassian-color-system/" data-sm="left">
					Atlassian Color System
				</a>
			</credits-links>
		</p>
	</footer-credits>

	<hr data-sm="center" data-lg="hide" />

	<footer-about data-sm="center" data-lg="right">
		<p>
			Autodidactic Web Developer.
			<br />
			Love to Read, Learn &amp; DIMySelf!
		</p>

		<a href="https://lebcit.github.io/pages/about/">Short story of my dev journey</a>
	</footer-about>
</footer>
