<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- Dynamically load description from transferred data object -->
	<meta name="description" content="{{description}}" />

	<link rel="shortcut icon" href="/static/images/litenode-dark-transparent-logo.ico" type="image/x-icon" />

	<!-- Dynamically load title from transferred data object -->
	<title>{{title}} | LiteNode MAT</title>

	<!-- Global Styles -->
	<link rel="stylesheet" href="/static/css/global-styles.css" />
	<link rel="stylesheet" href="/static/css/responsive-attributes-min.css" />

	{{#not entryRoute}}
	<link rel="stylesheet" href="/static/css/tutorial.css" />
	<link rel="stylesheet" href="/static/css/a11y-dark.min.css" />
	{{/not}}
</head>
