<header data-sm="2column">
	<header-left>
		<a data-sm="column" href="/">
			<img
				data-sm="middle"
				src="/static/images/litenode-dark-transparent-logo.avif"
				alt="LiteNode dark transparent logo"
			/>
		</a>
	</header-left>

	<header-right data-sm="2column gap right middle">
		<a data-sm="middle " href="/tutorial/installation">Tutorial</a>

		<a data-sm="column right" href="https://github.com/LebCit/litenode-markdown-app">
			<img data-sm="middle right" src="/static/images/github-logo.png" alt="GitHub logo" />
		</a>
	</header-right>
</header>
