<main-not-found data-sm="textC" data-md="2column textL">
	<not-found-img>
		<img
			data-sm="rspImg"
			src="/static/images/404-not-found.png"
			alt="Sailor on a 404 mast looking out to sea"
		/>
	</not-found-img>

	<not-found-text-button data-md="middle">
		<h1 style="line-height: 1.5">
			Nothing
			<br />
			to land on
			<br />
			here!
		</h1>

		<a href="/tutorial/installation">
			<button class="docs-404">Let's get back to the tutorial!</button>
		</a>
	</not-found-text-button>
</main-not-found>
